<header class="p-3 bg-dark text-white">
  <div class="col-auto">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="img-fluid" src="../../../assets/img/biit.png" alt="logo-bit" width="150px">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/home']" class="nav-link px-2 text-white mb-2">Início</a></li>
        <li><a [routerLink]="['/crud']" class="nav-link px-2 text-white">Usuários</a></li>
        <!-- <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
      </ul>

      <div class="text-end">
        <button [routerLink]="['/home']" type="button" class="btn btn-outline-light me-2">Login</button>
        <button [routerLink]="['/home/signup']" type="button" class="btn btn-outline-warning">Cadastrar</button>
      </div>
    </div>
  </div>

</header>

<div class="nav-brand">
  <router-outlet></router-outlet>
</div>
